<div class="container">
  <div class="row">
          <div class="col-sm-12 col-md-12">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th class="text-center">Price</th>
                          <th class="text-center">Total</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- each cái này-->
                      <tr>
                          <td class="col-sm-8 col-md-6">
                              <div class="media">
                                  <a class="pull-left" href="#"> <img class="media-object" src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" style="width: 72px; height: 72px;"> </a>
                                  <div class="media-body titleNameProduct" style="padding: 5% 5%;">
                                      <p class="media-heading"><a href="#">Product name</a>
                                      <p class="media-heading"> by <a href="#">Brand name</a>
                                      <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                  </div>
                              </div>
                          </td>
                          <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3" style="width: 50px;">
                          </td>
                          <td class="col-sm-1 col-md-1 text-center">
                              <strong>$4.87</strong>
                          </td>
                          <td class="col-sm-1 col-md-1 text-center">
                            <strong>$14.61</strong>
                          </td>
                          <td class="col-sm-1 col-md-1">
                              <button type="button" class="btn btn-danger">
                                  <span class="glyphicon glyphicon-remove"></span> Remove
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td><p>Subtotal</p></td>
                          <td></td>
                          <td></td>
                          <td class="text-right">
                            <p><strong>$24.59</strong></p>
                          </td>
                          <td></td>
                      </tr>
                      <tr>
                          <td><p>Estimated shipping</p></td>
                          <td></td>
                          <td></td>
                          <td class="text-right">
                            <p><strong>$6.94</strong></p>
                          </td>
                          <td></td>
                      </tr>
                      <tr>
                          <td><p>Total</p></td>
                          <td>   </td>
                          <td>   </td>
                          <td class="text-right">
                            <p><strong>$31.53</strong></p>
                          </td>
                          <td>   </td>
                      </tr>
                  </tbody>
              </table>
              <hr>
              <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button>
              <button type="button" class="btn btn-success">
                  Checkout <span class="glyphicon glyphicon-play"></span>
              </button>
          </div>
  </div>
</div>
