<link rel="stylesheet" href="/css/profile/profile.css">
<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            {{> profileAvarta}}
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:20px;">
  {{> Checkerror}}
  <div class="row">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">About</div>
                </button>
            </div>
    </div>
    <div class="well">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                <div class="bs-callout bs-callout-danger" style="text-align:center;">
                    {{> profileAbout}}
                    {{> profile_ChangeInfomation}}
                 </div>
                 <hr class="line">
              </div>
           </div>
    </div>
  </div>
</div>
<script src="/js/profile/profile.js"></script>
