<link rel="stylesheet" href="/css/profile/profile.css">
<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            {{> profileAvarta}}
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:20px;">
  {{> Checkerror}}
  <div class="row">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">About</div>
                </button>
            </div>
    </div>
    <div class="well">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                <div class="bs-callout bs-callout-danger" style="text-align:center;">
                    {{> profileAbout}}
                    {{> profile_ChangeInfomation}}
                    <br/>
                    {{#if expireDate}}
                      <p>
                        Expire time: <strong><em>{{expireDate}}</em></strong>
                      </p>
                    {{/if}}

                    {{#if isExpired}}
                      <p>Đã hết hạn đăng tin đấu giá!</p>
                    {{/if}}

                    {{#if isWaitingForPermission}}
                      <p>Đang chờ quản trị duyệt yêu cầu đăng đấu giá.</p>
                    {{/if}}

                    {{#if isDenied}}
                      <p>Quản trị đã từ chối yêu cầu đăng đấu giá.</p>
                    {{/if}}

                    {{#if isAbleToRequest}}
                      <form action='/requestselling' method='get'>
                        <button class='btn btn-success' type='submit'>Gia hạn bán hàng trong vòng 7 ngày!</button>
                        <input type='text' style='display:none' name='f_Username' value='{{username}}'>
                      </form>
                    {{/if}}
                 </div>
                 <hr class="line">
              </div>
           </div>
    </div>
  </div>
</div>
<script src="/js/profile/profile.js"></script>
