.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Buttons */
.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 35px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}




.button-style {
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    background: #24b662;
    color: #ffffff !important;
}


.button-style:active:before {
    color: #17954c;
}

.button-style-dark {
    border: 3px solid #000000 !important;
    color: #000000;
}

.about-all-items{
	margin-top: 20px;
}
.about-all-items ul{
	list-style-type: none;
}
.about-all-items button{
	margin-top: 20px;
}

/****box design style*****/
.box {
	float: left;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	display: block;
	background-color: #fff;
	margin-top: 20px;
	padding-top: 20px;
}
.box-icon {
	width: 100%;
	position: relative;
}

.info-nav-container {
	width: 32%;
    margin-right: 3%;
}

.float-container { overflow: auto; }

.info {
	width: 100%;
	padding: 15px 30px 20px;
}
.info-ul { padding: 15px 20px; }
.info-description-container {
	padding: 20px 30px;
	float: right;
	width: 65%;
}
.info > li {
	display: block;
	font-size: 14px;
	text-align: left;
	border-bottom: 2px dotted #D7D2D2;
	margin: 0px 15px;
	padding: 10px 0px;
}
.info > li:last-child {	border-bottom: none; }

.london-title {
	padding: 0 0 0 5px;
	border-left: 2px solid #19beb6;
	margin: 25px 0px;
}
.london-title h3 {
	color: #19beb6;
	font-size: 18px;
	margin: 5px;
}
.london-title h4 {
	font-size: 14px;
	margin: 5px;
}