.navbar-brand1 {
  display: block;
  width: 80px;
  height: 50px;
  margin: 0 auto;
  padding: 5px 5px;
}
#logo img {
  width: 100%;
  height: 100%;
}
#nav-headers li:hover {
  color: white;
  background-color: black;
  -webkit-transition: 1.0s all;
  -webkit-transition-delay: 1.0s;
  -moz-transition: 1.0s all;
  -moz-transition-delay: 1s;
  -ms-transition: .5s all;
  -ms-transition-delay: 5s;
  -o-transition: .5s all;
  -o-transition-delay: 5s;
  transition: 1.5s all;
}


#Selector {
  position: absolute;
}
#Form-Search {

}
#input_search {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid red;
}
#input_type {
}
.classType {
    border: 1px solid red;
}
.classType .btn-default{
  background-color: black;
}
