{{#if catogorylist}}
<form class="navbar" action="/timkiem" method="get" id="Form-Search">
    <div class="input-group" style="width: 100%; margin: 0 auto;">
          <input name="searchinput" type="text" class="form-control" placeholder="Search for..." id="input_search">
          <span class="input-group-btn classType" id="Selectors">
            <select name="catogory" class="selectpicker" data-show-subtext="true" data-live-search="true" id="input_type">
                <option value="0">All Product</option>
              {{#each catogorylist}}
                <option value="{{this.catid}}">{{this.catname}}</option>
              {{/each}}
            </select>
          </span>
          <span class="input-group-btn classType">
            <button type="submit" id="search_button" class="btn btn-default">Search</button>
          </span>
    </div>
</form>
{{else}}

{{/if}}
