<form class="navbar" action="" method="" id="Form-Search">
    <div class="input-group" style="width: 100%; margin: 0 auto;">
          <input type="text" class="form-control" placeholder="Search for..." id="input_search">
          <span class="input-group-btn classType" id="Selectors">
            <select class="selectpicker" data-show-subtext="true" data-live-search="true" id="input_type">
              <option data-subtext="Rep California">Watches</option>
              <option data-subtext="Sen California">Shoes</option>
              <option data-subtext="Sen Massacusetts">Shirt</option>
              <option data-subtext="Rep Alabama">Men</option>
              <option data-subtext="Rep Alaska">Women</option>
              <option data-subtext="Rep California" disabled="disabled">Bags</option>
            </select>
          </span>
          <span class="input-group-btn classType">
            <button type="submit" id="search_button" class="btn btn-default">Search</button>
          </span>
    </div>
</form>
