<form class="" action="next_page.php" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button type="submit" id="search_button" class="btn btn-default">Search</button>
        </span>
    </div>
</form>
