<link rel="stylesheet" href="/css/home/home_MenuPage.css">
<div id="id_menu">
  <nav class="nav nav-tabs">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/daugia" style="font-size: 14px; line-height:20px;">AUCTION</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" >
          <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown hoverheft" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MEN <span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">MEN'S CLOSTHER</li>
                            <li><a href="#">View all</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">VEST</a></li>
                            <li><a href="#">T-shirt Home</a></li>
                            <li><a href="#">T-shirt Sport</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">MEN'S BAGS</li>
                            <li><a href="#">View all</a></li>
                            <li><a href="#">New Arrivals</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">MEN'S WATCHES</li>
                            <li><a href="#">View all</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">One Hand</a></li>
                            <li><a href="#">Couple Hand</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown mega-dropdown hoverheft" style="">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">WOMEN <span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                  <li class="col-sm-3">
                      <ul>
                          <li class="dropdown-header">WOMEN'S CLOSTHER</li>
                          <li><a href="#">View all</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">T-shirt Home</a></li>
                          <li><a href="#">T-shirt Sport</a></li>
                          <li><a href="#">Coat</a></li>
                      </ul>
                  </li>
                  <li class="col-sm-3">
                      <ul>
                          <li class="dropdown-header">WOMEN'S BAGS</li>
                          <li><a href="#">View all</a></li>
                          <li><a href="#">New Arrivals</a></li>
                      </ul>
                  </li>
                  <li class="col-sm-3">
                      <ul>
                          <li class="dropdown-header">WOMEN'S WATCHES</li>
                          <li><a href="#">View all</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">One Hand</a></li>
                          <li><a href="#">Couple Hand</a></li>
                      </ul>
                  </li>
                </ul>
            </li>
            <li class="dropdown mega-dropdown hoverheft" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">BAGS <span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">WOMEN'S BAGS</li>
                            <li><a href="#">View All</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Crossbody Bags</a></li>
                            <li><a href="#">Tote Bags</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">MEN'S BAGS</li>
                            <li><a href="#">View All</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Crossbody Bags</a></li>
                            <li><a href="#">Tote Bags</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown mega-dropdown hoverheft" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">WATCHES <span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">WATCHES'S MEN</li>
                            <li><a href="#">View All</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Mechanical Watches</a></li>
                            <li><a href="#">Leather Watches</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">WATCHES'S WOMEN</li>
                            <li><a href="#">View All</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Mechanical Watches</a></li>
                            <li><a href="#">Leather Watches</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hoverheft"><a href="#">SHOES</a></li>
            <li class="hoverheft"><a href="#">STORE LOCATOR</a></li>
          </ul>
      </div>
  </nav>
</div>
