
{{#if user}}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My account<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">1. Comming Soon</a></li>
        <li><a href="#">2. Comming Soon</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Log out</a></li>
    </ul>
</li>
{{else}}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Your account <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/test2">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/registerDauGia">Đăng đấu giá</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</li>
{{/if}}
