<div id="enquirypopup" class="modal fade in" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content row">
       <div class="modal-header custom-modal-header">
         <button type="button" class="close" data-dismiss="modal">×</button>
         <h4 class="modal-title">Full Description Detail</h4>
       </div>
       <div class="modal-body">
         {{> messagedetail}}
         <!-- dung jquery xu ly -->
       </div>
     </div>
   </div>
 </div>
