{{#if user}}
  <h4>About Me </h4>
  <p>
    Full Name: <span><em>{{user.Firstname}} {{user.Lastname}}</em></span>
  </p>
  <p>
    Email: <span><em>{{user.Email}}</em></span>
  </p>
  <p>
    Day create account: <span><em>{{user.Days}}</em></span>
  </p>
  <p>
    <strong>Rate: 10</strong>
  </p>
{{/if}}
