{{#if user}}
  <img align="left" class="fb-image-lg" src="/img/background_admin.jpg" alt="Profile image example" style="height:300px;"/>
  <img align="left" class="fb-image-profile thumbnail" src="{{user.Imgurl}}" alt="Profile image example" />
  <div class="fb-profile-text">
      <h3>{{user.Username}}</h3>
  </div>
{{/if}}
