<link rel="stylesheet" href="/css/home/home.css">
<div class="">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel4">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel4" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel4" data-slide-to="1"></li>
      <li data-target="#bs-carousel4" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1" style="background-image: url(/img/shoes/men/SM2a.jpg)"></div>
        <div class="hero">
          <hgroup>
              <h1>WATCHES</h1>
              <h3>Make</h3>
          </hgroup>
          <a href="#"><button class="btn btn-hero" role="button">View More</button></a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2" style="background-image: url(/img/shoes/men/SM3a.jpg)"></div>
        <div class="hero">
          <hgroup>
              <h1>BAGS</h1>
              <h3>FOR</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">View More</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3" style="background-image: url(/img/shoes/men/SM2a.jpg);"></div>
        <div class="hero">
          <hgroup>
              <h1>VERT</h1>
              <h3>Gentleman</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">View More</button>
        </div>
      </div>
    </div>
  </div>
</div>
