<link rel="stylesheet" href="/css/home/home.css">
<div class="Slider1">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel1">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel1" data-slide-to="1"></li>
      <li data-target="#bs-carousel1" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1" style="background-image: url(/img/clock/women/CWM1a.jpg)"></div>
        <div class="hero">
          <hgroup>
              <h1>Watches</h1>
          </hgroup>
          <a href="#"><button class="btn btn-hero" role="button">View More</button></a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2" style="background-image: url(/img/clock/women/CWM2a.jpg)"></div>
        <div class="hero">
          <hgroup>
              <h1>Watches for women</h1>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">View More</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3" style="background-image: url(/img/clock/women/CWM3a.jpg)"></div>
        <div class="hero">
          <hgroup>
              <h1>For</h1>
              <h3>Beauty in your Hand</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">View More</button>
        </div>
      </div>
    </div>
  </div>
</div>
