<div class="container">
    <div class="row">
        {{#each wishlist}}
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img src="{{this.image1}}" class="img-responsive img-box img-thumbnail">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-content">
                            <div class="list-group-item-heading">
                                <a href="/item/{{this.proid}}" title="sintret">
                                    <h4>{{{trimString this.proname}}}</h4>
                                </a>
                            </div>
                            <small>
                                  <i class="glyphicon glyphicon-time"></i> {{this.sogiay}} days ago via <span class="twitter"> <i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/sintret" alt="sintret" title="sintret">@sintret</a></span>
                                  <br>
                                  <span class="explore"><i class="glyphicon glyphicon-th"></i> <a href="#">Explore 2 places </a></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
</div>
