<style media="screen">
    input {
      margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Change Password</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="margin-top: 20px;">
            {{> Checkerror}}
            <form action="/changepassword" method="post" id="passwordForm">
                <div class="form-group">
                  <input type="password" class="input-lg form-control" name="oldpassword" id="oldpassword" placeholder="Old Password" autocomplete="off">
                </div>
                <div class="form-group">
                  <input type="password" class="input-lg form-control" name="password" id="password" placeholder="New Password" autocomplete="off">
                </div>
                <div class="form-group">
                  <input type="password" class="input-lg form-control" name="conficpassword" id="conficpassword" placeholder="Repeat Password" autocomplete="off">
                </div>
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
            </form>
        </div>
    </div>
</div>
<script src="/component/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript">

  $.validator.setDefaults({
    errorClass: 'help-block',
    highlight: function(element) {
      $(element)
        .closest('.form-group')
        .addClass('has-error');
    },
    unhighlight: function(element) {
      $(element)
        .closest('.form-group')
        .removeClass('has-error');
    },
    errorPlacement: function (error, element) {
      if (element.prop('type') === 'checkbox') {
        error.insertAfter(element.parent());
      } else {
        error.insertAfter(element);
      }
    }
  });
  $.validator.addMethod('strongPassword', function(value, element) {
    return this.optional(element)
      || value.length >= 6
      && /\d/.test(value)
      && /[a-z]/i.test(value);
  }, 'Your password must be at least 6 characters long and contain at least one number and one char\'.')

  $(function () {
    $("#passwordForm").validate({
      rules : {
        oldpassword: {
          required: true,
          strongPassword: true
        },
        password: {
          required: true,
          strongPassword: true
        },
        conficpassword: {
          required: true,
          equalTo: "#password"
        }
      },
      messages : {
        password_confirmation:{
          required: "Confix Your Password",
          equalTo: "Wrong ! Please try again"
        }
      }
    })
  });
</script>
