<div class="">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4" style="text-align:center;height: 300px;">
                <img src="/img/Hoc.jpg" alt="stack photo" style="width: 100%; height: 100%;" class="img">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8" id="info">
                <div class="container" style="border-bottom:1px solid black">
                    <h3>Nguyễn Thái Học</h3>
                </div>
                <hr>
                <ul class="container details">
                    <li>
                        <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>thaihocmap123@gmail.com</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Q. Gò vấp</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4" style="text-align:center;height: 300px;">
                <img src="/img/Khoa.jpg" alt="stack photo" style="width: 100%; height: 100%;" class="img">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8" id="info">
                <div class="container" style="border-bottom:1px solid black">
                    <h3>Vũ Đăng Khoa</h3>
                </div>
                <hr>
                <ul class="container details">
                    <li>
                        <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>hothaohien96@gmail.com</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Q.5 TPHCM</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4" style="text-align:center;height: 300px;">
                <img src="/img/Phat.jpg" alt="stack photo" style="width: 100%; height: 100%;" class="img">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8" id="info">
                <div class="container" style="border-bottom:1px solid black">
                    <h3>Trần Hồng Phát</h3>
                </div>
                <hr>
                <ul class="container details">
                    <li>
                        <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>hothaohien96@gmail.com</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Q.5 TPHCM</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</p></a>
                </ul>
            </div>
        </div>
    </div>
</div>
