<link rel="stylesheet" type="text/css" href="/css/supportSelect.css">
{{#each allalbums}}
    <div class="col-md-3">
        <div class="album-cover">
            <a href="/photo"><img src="{{this.url}}" alt=""></a>
        </div>
    </div>
{{/each}}
