<style media="screen">

.checkwidth {
    height: 50px;
    width: 100px;
}
.imgborder {
  height: 500px;
  width: 80%;
}
.imgDetail {
  height: 100%;
  width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
</style>
<div class="">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
						  <div class="tab-pane imgborder active" id="pic-1">
                <img class="imgDetail" src="/img/clothes/men/VM1a.jpg" />
              </div>
						  <div class="tab-pane imgborder" id="pic-2">
                <img class="imgDetail" src="/img/clothes/men/VM2a.jpg" />
              </div>
						  <div class="tab-pane imgborder" id="pic-3">
                <img class="imgDetail" src="/img/clothes/men/VM3a.jpg" />
              </div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img class="checkwidth" src="/img/clothes/men/VM1a.jpg" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img class="checkwidth" src="/img/clothes/men/VM2a.jpg" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img class="checkwidth" src="/img/clothes/men/VM3a.jpg" /></a></li>
						</ul>
					</div>
					<div class="details col-md-6">
            <h3><strong>VINTAGE MUSE AUTOMATIC IRON LEATHER WATCH<strong></h3>
            <p><em>ME3131<em></p>
            <h5><strong>Price: 2.100.000</strong></h5>
            <p>The muse of the moment? Strapped in smooth leather, the always curious Vintage Muse boasts a new see-through skeleton dial showcasing the watch’s precise mechanics.</p>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
          </div>
				</div>
        <!-- tabs details-->
        <div class="row" style="margin-top:20px;">
          <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                      <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          <div class="hidden-xs">FEATURES</div>
                      </button>
                  </div>
                  <div class="btn-group" role="group">
                      <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                          <div class="hidden-xs">SPECS</div>
                      </button>
                  </div>
                  <div class="btn-group" role="group">
                      <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          <div class="hidden-xs">CARE</div>
                      </button>
                  </div>
          </div>
          <div class="well">
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                      <div class="bs-callout bs-callout-danger">
                          <h4>salient features</h4>
                          <p>
                             Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
                             te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                          </p>
                          <p>
                             Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis.
                             Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
                          </p>
                       </div>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                      <h3>SPECS Technology</h3>
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                      <h3>FOST</h3>
                    </div>
                 </div>
          </div>
        </div>
			</div>
		</div>
</div>
<script src="/js/profile/profile.js"></script>
