<div class="row">
    <div class="col-md-12 col-ms-12">
        <!-- {{> breadcrumd}} -->
    </div>
</div>
<!-- Breadcrumb-->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        {{> sliderHome}}
    </div>
    <div class="col-md-8 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Shopping}}
    </div>
    <div class="col-md-4 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Bags}}
    </div>
    <div class="col-md-4 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Shoes}}
    </div>
    <div class="col-md-8 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Men}}
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
                <h1 class="panel-title"><a href="#">(HIS) NEW ARRIVALS</a></h1>
            </div>
            <div class="panel-body">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/img/clothes/men/VM1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                    <div class="caption">
                        <h6>T-shirt: Three title</h6>
                        <p class="description">Price : 1.600.000</p>
                        <hr class="line">
                        <div class="row">
                          <div class="col-md-6 col-xs-6 col-sm-8">
                                  <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                  </button>
                                  <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                  </button>
                          </div>
                          <div class="col-md-6 col-xs-6 col-sm-4">
                            <a href="/itemsx" class="btn btn-success pull-right" role="button">
                              <span class="glyphicon glyphicon-plus"></span>
                              Detail !
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/img/clothes/men/VM2a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                    <div class="caption">
                        <h6>T-shirt: Three title</h6>
                        <p class="description">Price : 1.600.000</p>
                        <hr class="line">
                        <div class="row">
                          <div class="col-md-6 col-xs-6 col-sm-8">
                                  <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                  </button>
                                  <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                  </button>
                          </div>
                          <div class="col-md-6 col-xs-6 col-sm-4">
                            <a href="/itemsx" class="btn btn-success pull-right" role="button">
                              <span class="glyphicon glyphicon-plus"></span>
                              Detail !
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/img/clothes/men/VM1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                    <div class="caption">
                        <h6>T-shirt: Three title</h6>
                        <p class="description">Price : 1.600.000</p>
                        <hr class="line">
                        <div class="row">
                          <div class="col-md-6 col-xs-6 col-sm-8">
                                  <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                  </button>
                                  <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                  </button>
                          </div>
                          <div class="col-md-6 col-xs-6 col-sm-4">
                            <a href="/itemsx" class="btn btn-success pull-right" role="button">
                              <span class="glyphicon glyphicon-plus"></span>
                              Detail !
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <hr class="line">
            <div class="" style="text-align: center;">
                <a href="/SPCompany"><button class="btn btn-primary" type="button" name="button">View More</button></a>
            </div>
        </div>
    </div>
</div>

<!--each object product home (type) -->

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
                <h1 class="panel-title"><a href="#">(HER) NEW ARRIVALS</a></h1>
            </div>
            <div class="panel-body">
              <div class="panel-body">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img src="/img/clothes/women/CWM1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                      <div class="caption">
                          <h6>T-shirt: Three title</h6>
                          <p class="description">Price : 1.600.000</p>
                          <hr class="line">
                          <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-8">
                                    <button type="button" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary">
                                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-4">
                              <a href="/itemsx" class="btn btn-success pull-right" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Detail !
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img src="/img/clothes/women/CWM2a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                      <div class="caption">
                          <h6>T-shirt: Three title</h6>
                          <p class="description">Price : 1.600.000</p>
                          <hr class="line">
                          <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-8">
                                    <button type="button" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary">
                                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-4">
                              <a href="/itemsx" class="btn btn-success pull-right" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Detail !
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img src="/img/clothes/women/CWM3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                      <div class="caption">
                          <h6>T-shirt: Three title</h6>
                          <p class="description">Price : 1.600.000</p>
                          <hr class="line">
                          <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-8">
                                    <button type="button" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary">
                                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-4">
                              <a href="/itemsx" class="btn btn-success pull-right" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Detail !
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img src="/img/clothes/women/CWM4a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                      <div class="caption">
                          <h6>T-shirt: Three title</h6>
                          <p class="description">Price : 1.600.000</p>
                          <hr class="line">
                          <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-8">
                                    <button type="button" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary">
                                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-4">
                              <a href="/itemsx" class="btn btn-success pull-right" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Detail !
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img src="/img/clothes/women/CWM5a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                      <div class="caption">
                          <h6>T-shirt: Three title</h6>
                          <p class="description">Price : 1.600.000</p>
                          <hr class="line">
                          <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-8">
                                    <button type="button" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary">
                                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-4">
                              <a href="/itemsx" class="btn btn-success pull-right" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Detail !
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img src="/img/clothes/women/CWM6a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                      <div class="caption">
                          <h6>T-shirt: Three title</h6>
                          <p class="description">Price : 1.600.000</p>
                          <hr class="line">
                          <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-8">
                                    <button type="button" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary">
                                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-4">
                              <a href="/itemsx" class="btn btn-success pull-right" role="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Detail !
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="line">
            <div class="" style="text-align: center;">
                <a href="/SPCompany"><button class="btn btn-primary" type="button" name="button">View More</button></a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
                <h1 class="panel-title"><a href="#">New Auction</a></h1>
            </div>
            <div class="panel-body">
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/Bags/B4a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/Bags/B1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/Bags/B3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/shoes/men/SM3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/shoes/men/SM3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/shoes/men/SM3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/shoes/men/SM3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6" id="abc">
                    <span class="thumbnail text-center">
                        <img src="/img/shoes/men/SM3a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                        <h4 class="text-danger">Toyota Fortuner</h4>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p>Uttar Pradesh (North Zone)</p>
                        <p>Registration No :gaadiexpert.com</p>
                        <p>Auction End in 5 days</p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-link">Add to Wishlist</button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <a href="/item"><button class="btn btn-danger right"> BID NOW</button></a>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <hr class="line">
            <div class="" style="text-align: center;">
                <a href="/daugia"><button class="btn btn-primary" type="button" name="button">View More</button></a>
            </div>
        </div>
    </div>
</div>
