<link rel="stylesheet" type="text/css" href="/css/supportSelect.css">
<div class="row">
  {{#each allalbums}}
    <div class="col-md-3">
      <div class="photo-cover">
          <a href="/photo/{{this.id}}"><img src="{{this.url}}" alt=""></a>
      </div>
    </div>
  {{/each}}
</div>
