<link rel="stylesheet" href="/css/profile/profile.css">

<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="/img/background_admin.jpg" alt="Profile image example" style="height:300px;"/>
            <img align="left" class="fb-image-profile thumbnail" src="/img/Hoc.jpg" alt="Profile image example" />
            <div class="fb-profile-text">
                <h3>Nguyễn Thái Học</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:20px;">
  <div class="row">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">About</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">History Buy</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">History Auction</div>
                </button>
            </div>
    </div>

    <div class="well">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                <div class="bs-callout bs-callout-danger">
                    <h4>About Me !!!</h4>
                    <p>
                       Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
                       te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                    </p>
                    <p>
                       Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis.
                       Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
                    </p>
                 </div>
                 <h5>Thái Học</h5>
                 <p>Web Designer / Develpor / Database Admintor</p>
                 <ul>
                    <li><span class="glyphicon glyphicon-briefcase"></span> 2 years</li>
                    <li><span class="glyphicon glyphicon-map-marker"></span> VIET NAME</li>
                    <li><span class="glyphicon glyphicon-home"></span> 30/24r Lê đức thọ</li>
                    <li><span class="glyphicon glyphicon-phone"></span> <a href="#" title="call">(+021) 956 789123</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span> <a href="#" title="mail">thaihocmap123@gmail.com</a></li>
                 </ul>
              </div>
              <div class="tab-pane fade in" id="tab2">
                <h3>This is tab 2 : History Buy</h3>
              </div>
              <div class="tab-pane fade in" id="tab3">
                <h3>This is tab 3 : History Auction</h3>
              </div>
           </div>
    </div>
  </div>
</div>
<script src="/js/profile/profile.js"></script>
