<link rel="stylesheet" href="/css/profile.css">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="about col-lg-8 col-lg-offset-2 centered">
                        <img src="http://placehold.it/150x150" alt="Stanley" class="img-circle">
                        <h1>About Stanley!</h1>
                        <p>Hello everybody. I'm Stanley, a free handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute & clean style.</p>
                        <button type="submit" class="button button-style button-style-dark button-style-icon text-center">Follow!</button>
                    </div>
                    <!-- /col-lg-8 -->
                    <div class="about-all-items col-lg-12 centered">
                        <ul>
                            <li>
                                <div class="box london col-lg-4">
                                    <div class="box-icon">
                                        <img src="http://placehold.it/350x150" alt="Image" class="img-responsive">
                                    </div>
                                    <div class="info float-container">
                                        <div class="col-sm-12 london-title">
                                            <h3 class="text-uppercase">Product's name</h3>
                                            <h4 class="text-uppercase">Time remain</h4>
                                        </div>
                                        <p>Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                                        <hr />
                                        <div class="col-sm-12 location-main">
                                            <div class="pull-left location">
                                                <span><h4>$19.5</h4></span>
                                            </div>
                                            <div class="pull-right location">
                                                <span><b>0 bids</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box london col-lg-4">
                                    <div class="box-icon">
                                        <img src="http://placehold.it/350x150" alt="Image" class="img-responsive">
                                    </div>
                                    <div class="info float-container">
                                        <div class="col-sm-12 london-title">
                                            <h3 class="text-uppercase">Product's name</h3>
                                            <h4 class="text-uppercase">Time remain</h4>
                                        </div>
                                        <p>Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                                        <hr />
                                        <div class="col-sm-12 location-main">
                                            <div class="pull-left location">
                                                <span><h4>$19.5</h4></span>
                                            </div>
                                            <div class="pull-right location">
                                                <span><b>0 bids</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box london col-lg-4">
                                    <div class="box-icon">
                                        <img src="http://placehold.it/350x150" alt="Image" class="img-responsive">
                                    </div>
                                    <div class="info float-container">
                                        <div class="col-sm-12 london-title">
                                            <h3 class="text-uppercase">Product's name</h3>
                                            <h4 class="text-uppercase">Time remain</h4>
                                        </div>
                                        <p>Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                                        <hr />
                                        <div class="col-sm-12 location-main">
                                            <div class="pull-left location">
                                                <span><h4>$19.5</h4></span>
                                            </div>
                                            <div class="pull-right location">
                                                <span><b>0 bids</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box london col-lg-4">
                                    <div class="box-icon">
                                        <img src="http://placehold.it/350x150" alt="Image" class="img-responsive">
                                    </div>
                                    <div class="info float-container">
                                        <div class="col-sm-12 london-title">
                                            <h3 class="text-uppercase">Product's name</h3>
                                            <h4 class="text-uppercase">Time remain</h4>
                                        </div>
                                        <p>Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                                        <hr />
                                        <div class="col-sm-12 location-main">
                                            <div class="pull-left location">
                                                <span><h4>$19.5</h4></span>
                                            </div>
                                            <div class="pull-right location">
                                                <span><b>0 bids</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box london col-lg-4">
                                    <div class="box-icon">
                                        <img src="http://placehold.it/350x150" alt="Image" class="img-responsive">
                                    </div>
                                    <div class="info float-container">
                                        <div class="col-sm-12 london-title">
                                            <h3 class="text-uppercase">Product's name</h3>
                                            <h4 class="text-uppercase">Time remain</h4>
                                        </div>
                                        <p>Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                                        <hr />
                                        <div class="col-sm-12 location-main">
                                            <div class="pull-left location">
                                                <span><h4>$19.5</h4></span>
                                            </div>
                                            <div class="pull-right location">
                                                <span><b>0 bids</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box london col-lg-4">
                                    <div class="box-icon">
                                        <img src="http://placehold.it/350x150" alt="Image" class="img-responsive">
                                    </div>
                                    <div class="info float-container">
                                        <div class="col-sm-12 london-title">
                                            <h3 class="text-uppercase">Product's name</h3>
                                            <h4 class="text-uppercase">Time remain</h4>
                                        </div>
                                        <p>Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p>
                                        <hr />
                                        <div class="col-sm-12 location-main">
                                            <div class="pull-left location">
                                                <span><h4>$19.5</h4></span>
                                            </div>
                                            <div class="pull-right location">
                                                <span><b>0 bids</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                         <button class="button button-style button-style-dark button-style-icon text-center">Load more!</button>
                    </div>
                    <!-- /col-lg-8 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>
