<div class="row">
    <div class="col-md-12 col-ms-12">
        {{> breadcrumd}}
    </div>
</div>
<div class="col-md-2">
  {{> leftmenu}}
</div>
<div class="col-md-10">
  <div class="panel panel-default row">
        <div class="panel-heading">
          <p>Title</p>
          <div class="">
            {{> radiobutton_SPCOM}}
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/clothes/men/VM1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                  <div class="caption">
                      <h6>T-shirt: Three title</h6>
                      <p class="description">Price : 1.600.000</p>
                      <hr class="line">
                      <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-8">
                                <button type="button" class="btn btn-danger">
                                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary">
                                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                </button>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-4">
                          <a href="/add-to-cart/1" class="btn btn-success pull-right" role="button">
                            <span class="glyphicon glyphicon-plus"></span>
                            Detail!
                          </a>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/clothes/men/VM2a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                  <div class="caption">
                      <h6>T-shirt: Three title</h6>
                      <p class="description">Price : 1.600.000</p>
                      <hr class="line">
                      <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-8">
                                <button type="button" class="btn btn-danger">
                                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary">
                                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                </button>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-4">
                          <a href="/add-to-cart/1" class="btn btn-success pull-right" role="button">
                            <span class="glyphicon glyphicon-plus"></span>
                            Detail!
                          </a>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img src="/img/clothes/men/VM1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                  <div class="caption">
                      <h6>T-shirt: Three title</h6>
                      <p class="description">Price : 1.600.000</p>
                      <hr class="line">
                      <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-8">
                                <button type="button" class="btn btn-danger">
                                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary">
                                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                </button>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-4">
                          <a href="/add-to-cart/1" class="btn btn-success pull-right" role="button">
                            <span class="glyphicon glyphicon-plus"></span>
                            Detail!
                          </a>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" aria-label="..." style="text-align:center;">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">2 </a></li>
            <li class="disabled"><a href="#">3 </a></li>
            <li class="disabled"><a href="#">4 </a></li>
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </div>
        </div>
  </div>
</div>
